/.build/
/_build/
/Build
/Build.bat
/blib

.DS_Store

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/App-revealup-*

/sample/*